{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-default">
        {% if settings.title is not empty %}
            <div class="box-header">
                <h3 class="box-title">
                    <a href="{{ path('admin_app_question_list') }}">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        {{ settings.title }}
                    </a>
                </h3>
            </div>
        {% endif %}

        <div class="box-body">
            <div class="media">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Created at</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in recentQuestions %}
                            <tr>
                                <td>{{ question.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ question.phone }}</td>
                                <td>{{ question.sender }}</td>
                                <td>{{ question.content }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('admin_app_question_show', {'id': question.id}) }}" class="btn btn-link btn-flat">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            Show
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}