{% extends '@SonataAdmin/Core/dashboard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loader_css') }}
    {{ encore_entry_link_tags('izi_toast_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stimulus_controller') }}
{% endblock %}

{% block breadcrumb %}
    {% if app.user %}
        <div class="navbar-custom-menu" style="position: absolute; top: 0; right: 1%;">
            <ul class="nav navbar-nav">
                <li class="dropdown user-menu open" {{ stimulus_controller('adminDashboard') }}>
                    <a data-ref="{{ path('admin_build_webpack_cache') }}" href="#"
                            {{ stimulus_action('adminDashboard', 'buildCache', 'click') }}>
                        <i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i>
                        Build cache
                    </a>
                </li>
                <li class="dropdown user-menu open">
                    <a href="{{ path('admin_logout') }}">
                        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
