{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lightBox2_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('lightBox2_js') }}
{% endblock %}

{% block body %}
    <div class="overflow-hidden" {{ stimulus_controller('homepage') }}>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="menu btn_toggle  navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <div class="icon"></div>
                </div>
                {% include 'navList.html.twig' %}
            </div>
        </nav>

        <!-- Hero section START -->
        <section class="hero">
            <div class="hero__parallax jarallax">
                <img class="jarallax-img" src="{{ asset('build/images/bg_hero.jpg') }}"
                     alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy">
            </div>
            <div class="container-xl hero__content h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-md-8 offset-md-4 d-sm-inline-flex align-items-start text-center text-sm-end" data-aos="fade-up" data-aos-delay="400">
                        <img src="{{ asset('build/images/logo.svg') }}" data-src="{{ asset('build/images/logo.svg') }}"
                             alt="Plantia - Wieczna zieleń bezpielęgnacji" class="hero__logo me-15 me-md-45"
                             loading="lazy"
                        >
                        <div class="hero__hr"></div>
                        <div class="hero__header ms-15 ms-md-45 mt-30 mt-sm-0">
                            <h1 class="hero__header_h1">Kojąca zieleń w Twoim wnętrzu.</h1>
                            <p>Zielone kompozycje wprowadzą do Twoich wnętrz ład i spokój, przenosząc Cię w świat lasu
                                pełnego paproci, urokliwego ogrodu lub dzikiej puszczy amazońskiej. Odkryj siłę natury w
                                naszych zielonych aranżacjach, które przeniosą Cię w magiczne miejsca bez wychodzenia z
                                domu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section END -->

        <!-- Description section START -->
        <section class="description">
            <div class="description__parallax jarallax">
                <img class="jarallax-img" src="{{ asset('build/images/bg_hero.jpg') }}"
                     alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy">
            </div>
            <div class="container-xl description__content h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-8 mx-auto">
                        <div class="row">
                            <div class="col-sm text-center mb-45">
                                <img src="{{ asset('build/images/icons/no_insects.svg') }}" width="150" height="150"
                                     alt="Plantia - Wieczna zieleń bezpielęgnacji" class="img-fluid"  loading="lazy">
                            </div>
                            <div class="col-sm text-center mb-45">
                                <img src="{{ asset('build/images/icons/no_water.svg') }}" width="150" height="150"
                                     alt="Plantia - Wieczna zieleń bezpielęgnacji" class="img-fluid" loading="lazy">
                            </div>
                            <div class="col-sm text-center mb-45">
                                <img src="{{ asset('build/images/icons/without_trimming.svg') }}" width="150" height="150"
                                     alt="Plantia - Wieczna zieleń bezpielęgnacji" class="img-fluid" loading="lazy">
                            </div>
                        </div>
                        <p><strong>Nasze zielone ściany to innowacyjne rozwiązanie, które przynosi wiele korzyści. Po
                                pierwsze, nie musisz się martwić o regularne podlewanie, co oznacza oszczędność czasu i
                                wody. Po drugie, nasze ściany są odporne na insekty, co oznacza, że nie będziesz
                                musiał/a walczyć z niechcianymi gośćmi w swoim wnętrzu. Po trzecie, ich niezwykła
                                trwałość oznacza, że zawsze będą wyglądać tak samo dobrze, niezależnie od tego, czy masz
                                czas na ich pielęgnację i przycinanie, czy też nie. To doskonałe rozwiązanie dla tych,
                                którzy pragną cieszyć się pięknem zieleni bez zbędnego zachodu.</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Description section END -->

        <!-- Products section START -->
        <section class="panels">
            <div class="position-relative mb-45">
                <div class="panels__parallax jarallax">
                    <img class="jarallax-img" src="{{ asset('build/images/green_wall_2.jpg') }}" loading="lazy"
                         alt="Plantia - Wieczna zieleń bezpielęgnacji - Zielone ściany">
                </div>
                <div class="container-xl py-45">
                    <div class="row">
                        <div class="col-md-5 offset-md-7" data-aos="fade-left">
                            <h2 class="text-uppercase">Zielone ściany</h2>
                            <p>Nasze panele wertykalne to dzieła sztuki wykonane z największą starannością, aby
                                odzwierciedlić wygląd żywych roślin. Każdy panel jest wykonywany na zamówienie w naszej
                                pracowni, co sprawia, że każdy z nich jest wyjątkowy. Dostosowujemy liczbę paneli do
                                rozmiaru Twojej ściany i układamy je tak, aby stworzyć jednolitą kompozycję. Montaż jest
                                prosty, a instrukcja krok po kroku ułatwia cały proces.</p>
                            <h3 class="h5 mb-20">Specyfikacja:</h3>
                            <ul class="panels__list">
                                <li class="panels__list_item">Ściana składa się z elementów o maksymalnej  wielkości 40
                                    cm na 60 cm
                                </li>
                                <li class="panels__list_item">Kompozycję zawierają od 4 do 10 rodzajów sztucznych roślin</li>
                                <li class="panels__list_item">Łatwy montaż, nie wymaga specjalistycznego sprzętu</li>
                            </ul>
                            <div class="panels__icons">
                                <img src="{{ asset('build/images/icons/anti-reflective_coating_50p.svg') }}" data-bs-toggle="tooltip"
                                     alt="Powłoka antyrefleksyjna" title="Powłoka antyrefleksyjna" width="50" height="50"
                                     class="panels__icons_img" loading="lazy">
                                <img src="{{ asset('build/images/icons/no_insects_50p.svg') }}" data-bs-toggle="tooltip"
                                     alt="Brak owadów" title="Brak owadów" width="50" height="50"
                                     class="panels__icons_img" loading="lazy">
                                <img src="{{ asset('build/images/icons/antistatic_coating_50p.svg') }}" data-bs-toggle="tooltip"
                                     alt="Powłoka antystatyczna" title="Powłoka antystatyczna" width="50" height="50"
                                     class="panels__icons_img" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panels__sub mt-md-120" {{ stimulus_controller('product-desc-resize') }}>
                <div class="products-container">
                    <div class="row">
                        <div class="col-12 mt-md-50 mb-md-25">
                            <h4 class="h5">Nasze zielone ściany</h4>
                        </div>
                        {% for product in products %}
                            <div class="col-sm-6 col-lg-4 mb-30 mb-0 mb-sm-30 mb-md-60" data-aos="fade-up">
                                <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}">
                                    <img src="{{ asset('build/images/') ~ product.mainImage }}" alt="{{ product.name }}"
                                         class="img-fluid" loading="lazy">
                                </a>
                                <div class="px-45 mt-45">
                                    <div {{ stimulus_target('product-desc-resize', 'productDescription') }}>
                                        <h5 class="h2">
                                            <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                               class="panels__sub_link">{{ product.name }}</a>
                                        </h5>
                                        <p>{{ product.description }}</p>
                                    </div>
                                    <div class="panels__icons mb-20">
                                        {% for property in product.properties %}
                                            <img src="{{ asset('build/images/') ~ property.icon }}"
                                                 data-bs-toggle="tooltip" alt="{{ property.name }}"
                                                 title="{{ property.name }}"
                                                 class="panels__icons_img" loading="lazy">
                                        {% endfor %}
                                    </div>
                                    <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                       class="btn btn__blue">Idź do sklepu</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Products section END -->

        <!-- Gallery section START -->
        <section class="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h1 text-uppercase">Przykłady zastosowania</h2>
                    </div>
                    {% for image in gallery %}
                        <div class="col-sm-6 col-lg-4 mb-30">
                            <a href="{{ asset('build/images/') ~ image.image }}" class="gallery__box"
                               data-lightbox="gallery_img" data-title="Przykłady zastosowania - {{ image.description }}">
                                <div class="gallery__content">
                                    <span class="h3 gallery__content_header">{{ image.description }}</span>
                                </div>
                                <img src="{{ asset('build/images/') ~ image.image }}" style="width: 100%;"
                                     alt="{{ image.description }}" class="img-fluid gallery-item" loading="lazy">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Gallery section END -->

        <!-- Free project section START -->
        <section class="free_project fix_pad_section_top">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-30 mb-md-0" data-aos="fade-right">
                        <h2 class="h1">Darmowy projekt kompozycji w Twoim wnętrzu</h2>
                        <p>Jesteśmy przekonani, że nasze zielone kompozycje mogą odmienić Twoje wnętrze, nadając mu
                            wyjątkowego uroku i świeżości. Dlatego dla naszych klientów oferujemy niezwykle pomocną i
                            inspirującą usługę - darmową wizualizację. <br><br>
                            Po zakupie zielonej kompozycji wystarczy przesłać nam zdjęcia swojego wnętrza. Nasz zespół
                            specjalistów z przyjemnością doradzi Ci, w którym miejscu najlepiej umieścić zieloną ścianę,
                            aby osiągnąć najbardziej efektowny rezultat. <br><br>
                            Ale to nie koniec! Na podstawie przesłanych zdjęć, naniesiemy zieloną ścianę na Twoje
                            wnętrze, tak abyś mógł łatwo zwizualizować, jak będzie wyglądać efekt końcowy. To doskonały
                            sposób, aby upewnić się, że Twój wybór pasuje idealnie do Ciebie i Twojego wnętrza.
                        </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="{{ asset('build/images/free_project.png') }}" alt="Darmowy projekt kompozycji w Twoim wnętrzu"
                             class="img-fluid" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
        <!-- Free project section END -->

        <!-- Articles section START -->
        <section class="list_article">
            <div class="container-xl">
                <div class="row justify-content-between">
                    <div class="col-12 mb-md-80">
                        <h2 class="h1 text-uppercase text-center">ARTYKUŁY</h2>
                    </div>
                    {% for article in articles %}
                        <div class="col-md-5 mb-45" data-aos="fade-up">
                            <a href="{{ path('article_show', {'id': article.id, 'slug' : article.slug}) }}" class="box_article">
                                <img src="{{ asset('build/images/') }}{{ article.smallImage }}" alt="{{ article.title }}"
                                     class="img-fluid" data-src="{{ asset('build/images/') }}{{ article.smallImage }}"
                                     loading="lazy"
                                >
                                <h2 class="h1 mt-30 box_article__header">{{ article.title }}</h2>
                                <p class="box_article__content">
                                    {% autoescape false %}
                                        {% if article.content|striptags|length > 250  %}
                                            {{ article.content|striptags|slice(0,247) }}...
                                        {% else %}
                                            {{ article.content|striptags }}
                                        {% endif %}
                                    {% endautoescape %}
                                <p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Articles section END -->

        <!-- Pined phone START -->
        <div class="phone_info_fixed">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 align-items-center row mb-15 mb-sm-0">
                    <div class="col-5 text-end p-10">
                        <img src="{{ asset('build/images/') ~ lpProduct.mainImage }}" alt="{{ lpProduct.name }}"
                             class="img-fluid" width="150" height="150" loading="lazy">
                    </div>
                    <div class="col-7 text-start phone_info_text p-0">
                        <strong>Podaj swój numer - powiem Ci więcej!</strong><br>
                        Już od {{ lpProduct.price }} zł/ 0,5 m2
                    </div>
                </div>
                {{ render(controller('App\\Controller\\RenderController::renderProductContactForm')) }}
            </div>
        </div>
        <!-- Pined phone END -->
    </div>
{% endblock %}

{% block microdata %}
    {{ render(controller('App\\Controller\\MicrodataController::renderHomepageMicrodata',{
        'product': lpProduct, 'products': products, 'articles': articles
    })) }}
{% endblock %}