{% extends 'base.html.twig' %}

{% block body %}
<div class="overflow-hidden">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand pt-30 ps-15" href="{{ path('home_page') }}">
                <img src="{{ asset('build/images/logo_black.svg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                     loading="lazy">
            </a>
            <div class="menu btn_toggle  btn_toggle--black  navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <div class="icon"></div>
            </div>
            {% include 'navList.html.twig' %}
        </div>
    </nav>
    <section class="products" class="pt-40" {{ stimulus_controller('product') }}>
        <div class="px-xxl-120 px-xl-40 px-md-15 px-10">
            <div class="row mx-auto">
                {% set defaultProduct = products|first %}
                {% for key,product in products %}
                    <div class="col-12 col-md-8 row mx-auto flex-column-reverse flex-md-row {{ key == 0 ? 'd-flex' : 'd-none' }}"
                        {{ stimulus_target('product', 'productBlock') }} data-key="{{ key }}"
                    >
                        <div class="col-12 col-md-6 col-lg-4 p-0 p-sm-10">
                            <h5 class="h2">
                                <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                   class="panels__sub_link">{{ product.name }}</a>
                            </h5>
                            <p class="text-justify default-product-desc">{{ product.description }}</p>
                            <div class="panels__icons mb-20">
                                {% for property in product.properties %}
                                    <img src="{{ asset('build/images/') ~ property.icon }}" data-bs-toggle="tooltip"
                                         alt="{{ property.name }}" title="{{ property.name }}"
                                         class="img-fluid pe-15 property__icon current__product__prop" loading="lazy">
                                {% endfor %}
                            </div>
                            <a href="{{ path('show_product', {'slug' : product.slug, 'id' : product.id}) }}"
                               class="btn btn__blue">Idź do sklepu</a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8 mb-30 mb-sm-80 mb-md-0">
                            <img src="{{ asset('build/images/') ~ product.mainImage }}" alt="{{ product.name }}"
                                 class="img-fluid w-100" loading="lazy">
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-4 d-none d-md-block">
                    {{ render(controller('App\\Controller\\RenderController::renderProductsContactForm')) }}
                </div>
            </div>
        </div>
        <div class="mobile-products-form d-md-none d-block">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 align-items-center row mb-15 mb-sm-0">
                    <div class="col-5 pe-0 ps-30">
                        <img src="{{ asset('build/images/') ~ lpProduct.mainImage }}" alt="{{ lpProduct.name }}"
                             class="img-fluid" width="150" height="150" loading="lazy">
                    </div>
                    <div class="col-7 text-start phone_info_text p-0">
                        <strong>Podaj swój numer - powiem Ci więcej!</strong><br>
                        Już od {{ lpProduct.price }} zł/ 0,5 m2
                    </div>
                </div>
                {{ render(controller('App\\Controller\\RenderController::renderProductContactForm')) }}
            </div>
        </div>
        <div class="row mt-xxl-80 mt-md-30 px-30" {{ stimulus_target('product', 'products') }}>
            {% for key,product in products %}
                <div class="col-4 col-sm-4 col-lg-3 mb-25 product-list-item p-0 {{ key == 0 ? 'active-product' : '' }}"
                     data-aos="fade-up" data-main-img="{{ asset('build/images/') ~ product.mainImage }}"
                     data-key="{{ key }}" {{ stimulus_action('product','select', 'click') }}
                     data-id="{{ product.id }}"
                >
                    <img src="{{ asset('build/images/') ~ product.secondImage }}" alt="{{ product.name }}"
                         class="img-fluid product-list-img" loading="lazy">
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="product_hero">
        <div class="product_hero__parallax jarallax">
            <img class="jarallax-img" src="{{ asset('img/green_wall_2.jpg') }}" loading="lazy"
                 alt="Plantia - Wieczna zieleń bezpielęgnacji">
        </div>
        <div class="container-xl product_hero__content-realization">
            <div class="row h-100 align-items-center">
                <div class="col-10 offset-md-2 mx-auto d-inline-flex align-items-center justify-content-center">
                    <div class="product_hero__box">
                        <div data-aos="fade-left" data-aos-delay="400">
                            <h1>Zielone ściany</h1>
                            <p class="specification__desc">Nasze panele wertykalne to dzieła sztuki wykonane z
                                największą starannością, aby odzwierciedlić wygląd żywych roślin. Każdy panel jest
                                wykonywany na zamówienie w naszej pracowni, co sprawia, że każdy z nich jest wyjątkowy.
                                Dostosowujemy liczbę paneli do rozmiaru Twojej ściany i układamy je tak, aby stworzyć
                                jednolitą kompozycję. Montaż jest prosty, a instrukcja krok po kroku ułatwia cały
                                proces.
                            </p>

                            <h3 class="h5 mb-20">Specyfikacja:</h3>
                            <ul class="panels__list">
                                <li class="panels__list_item">Ściana składa się z elementów o maksymalnej  wielkości 40
                                    cm na 60 cm
                                </li>
                                <li class="panels__list_item">Kompozycję zawierają od 4 do 10 rodzajów sztucznych roślin</li>
                                <li class="panels__list_item">Łatwy montaż, nie wymaga specjalistycznego sprzętu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panels pt-0 pb-30 pt-80">
        <div class="container-xl d-block d-lg-none">
            <div class="row">
                <div class="col-12 my-45">
                    <div class="panels__header_name panels__header_name--normal">Przykłady wykorzystania</div>
                </div>
            </div>
        </div>
        {% for key, realization in realizations %}
            {% if key == 0 %}
                <div class="position-relative mb-60">
                    <div class="panels__parallax-product jarallax">
                        <img class="jarallax-img" src="{{ asset('build/images/') ~ realization.mainImage }}"
                             alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy">
                        <div class="panels__icons realization__icons end-0 d-none d-md-block">
                            {% for property in realization.properties %}
                                <img src="{{ asset('build/images/') ~ property.icon }}" data-bs-toggle="tooltip"
                                     alt="{{ property.name }}" title="{{ property.name }}"
                                     class="panels__icons_img" loading="lazy">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container-xl py-45">
                        <div class="row h_650p">
                            <div class="col-lg-3 offset-lg-4 d-none d-lg-block"></div>
                            <div class="col-lg-4" data-aos="fade-left">
                                <h4 class="h5 text_normal">Kompozycja składa się z:</h4>
                                <div class="row">
                                    {% for key,product in realization.products %}
                                        <div class="col-12 col-md-4 col-lg-6 px-md-40 mb-30 box_composition d-flex {{ key % 2 == 0 ? 'justify-content-md-start' : 'justify-content-md-end' }}">
                                            <div class="d-none d-md-block">
                                                <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                   class="box_composition__link">
                                                    <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                         alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                    <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                </a>
                                            </div>
                                            <div class="d-md-none row">
                                                <div class="col">
                                                    <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                       class="box_composition__link">
                                                        <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                             alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                        <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                    </a>
                                                </div>
                                                <div class="col panels__icons">
                                                    {% for property in realization.properties %}
                                                        <img src="{{ asset('build/images/') ~ property.icon }}"
                                                             data-bs-toggle="tooltip" loading="lazy"
                                                             alt="{{ property.name }}" title="{{ property.name }}"
                                                             class="realization__property__icon">
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-1 position-relative d-none d-lg-block">
                                <div class="panels__header">
                                    <h2 class="panels__header_name">Przykłady wykorzystania</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elseif key % 2 == 1 %}
                <div class="position-relative mb-60">
                    <div class="panels__parallax-product panels__parallax--right jarallax">
                        <img class="jarallax-img" src="{{ asset('build/images/') ~ realization.mainImage }}"
                             alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy">
                        <div class="panels__icons realization__icons start-0 d-none d-md-block">
                            {% for property in realization.properties %}
                                <img src="{{ asset('build/images/') ~ property.icon }}" data-bs-toggle="tooltip"
                                     alt="{{ property.name }}" title="{{ property.name }}" loading="lazy"
                                     class="property__icon img-fluid ps-10">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="products-container py-45">
                        <div class="row h_650p">
                            <div class="col-md-12 col-lg-5" data-aos="fade-right">
                                <h4 class="h5 text_normal px-md-20">Kompozycja składa się z:</h4>
                                <div class="row">
                                    {% for key,product in realization.products %}
                                        <div class="col-md-4 col-12 col-lg-6 px-md-40 mb-30 box_composition d-flex {{ key % 2 == 0 ? 'justify-content-md-start' : 'justify-content-md-end' }}">
                                            <div class="d-none d-md-block">
                                                <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                   class="box_composition__link">
                                                    <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                         alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                    <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                </a>
                                            </div>
                                            <div class="d-md-none row">
                                                <div class="col">
                                                    <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                       class="box_composition__link">
                                                        <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                             alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                        <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                    </a>
                                                </div>
                                                <div class="col panels__icons">
                                                    {% for property in realization.properties %}
                                                        <img src="{{ asset('build/images/') ~ property.icon }}"
                                                             data-bs-toggle="tooltip" loading="lazy"
                                                             alt="{{ property.name }}" title="{{ property.name }}"
                                                             class="realization__property__icon">
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elseif key != 0 and key % 2 == 0 %}
                <div class="position-relative mb-60">
                    <div class="panels__parallax-product jarallax">
                        <img class="jarallax-img" src="{{ asset('build/images/') ~ realization.mainImage }}"
                             alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy">
                        <div class="panels__icons realization__icons end-0 d-none d-md-block">
                            {% for property in realization.properties %}
                                <img src="{{ asset('build/images/') ~ property.icon }}" data-bs-toggle="tooltip"
                                     alt="{{ property.name }}" title="{{ property.name }}"
                                     class="property__icon img-fluid pe-10" loading="lazy">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="products-container py-45">
                        <div class="row h_650p">
                            <div class="col-lg-4 offset-lg-3 d-none d-lg-block"></div>
                            <div class="col-md-12 col-lg-5" data-aos="fade-left">
                                <h4 class="h5 px-md-20 text_normal">Kompozycja składa się z:</h4>
                                <div class="row">
                                    {% for key,product in realization.products %}
                                        <div class="col-md-4 col-12 col-lg-6 px-md-40 mb-30 box_composition d-flex {{ key % 2 == 0 ? 'justify-content-md-start' : 'justify-content-md-end' }}">
                                            <div class="d-none d-md-block">
                                                <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                   class="box_composition__link">
                                                    <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                         alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                    <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                </a>
                                            </div>
                                            <div class="d-md-none row">
                                                <div class="col">
                                                    <a href="{{ path('show_product', {'id': product.id, 'slug': product.slug}) }}"
                                                       class="box_composition__link">
                                                        <img src="{{ asset('build/images/') ~ product.mainImage }}"
                                                             alt="{{ product.name }}" class="img-fluid" loading="lazy">
                                                        <h5 class="mb-0 mt-15">{{ product.name }}</h5>
                                                    </a>
                                                </div>
                                                <div class="col panels__icons">
                                                    {% for property in realization.properties %}
                                                        <img src="{{ asset('build/images/') ~ property.icon }}"
                                                             data-bs-toggle="tooltip" width="50" height="50"
                                                             alt="{{ property.name }}" title="{{ property.name }}"
                                                             class="realization__property__icon" loading="lazy">
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <div class="phone_info_fixed">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 align-items-center row mb-15 mb-sm-0">
                <div class="col-5 text-end">
                    <img src="{{ asset('build/images/') ~ lpProduct.mainImage }}" alt="{{ lpProduct.name }}"
                         class="img-fluid" width="150" height="150" loading="lazy">
                </div>
                <div class="col-7 text-start phone_info_text p-0">
                    <strong>Podaj swój numer - powiem Ci więcej!</strong><br>
                    Już od {{ lpProduct.price }} zł/ 0,5 m2
                </div>
            </div>
            {{ render(controller('App\\Controller\\RenderController::renderProductContactForm')) }}
        </div>
    </div>
</div>
{% endblock %}

{% block microdata %}
    {{ render(controller('App\\Controller\\MicrodataController::renderProductsMicrodata', {'products': products})) }}
{% endblock %}

{% block contact_form %}
    {{ render(controller('App\\Controller\\RenderController::renderOrderForm')) }}
{% endblock %}
