{% extends 'base.html.twig' %}

{% block metaLinks %}
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.get('_route'), {'slug': product.slug, 'id': product.id}) }}">
    <meta property="twitter:url" content="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.get('_route'), {'slug': product.slug, 'id': product.id}) }}">
    <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.get('_route'), {'slug': product.slug, 'id': product.id}) }}">
    <link rel="dns-prefetch" href="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.get('_route'), {'slug': product.slug, 'id': product.id}) }}">
{% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <!-- Navbar START -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="row">
                    <a class="navbar-brand pt-30 ps-15" href="{{ path('home_page') }}">
                        <img src="{{ asset('build/images/logo_black.svg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                             loading="lazy">
                    </a>
                </div>
                <div class="menu btn_toggle  btn_toggle--black  navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <div class="icon"></div>
                </div>
                {% include 'navList.html.twig' %}
            </div>
        </nav>
        <!-- Navbar END -->

        <!-- Realization section START -->
        <div {{ stimulus_controller('realization') }}>
            <section class="realisations">
                <div class="container-xl d-block d-lg-none">
                    <div class="row">
                        <div class="col-12 mb-30 mt-15">
                            <h2 class="h4 realisations__header_name realisations__header_name--normal">Zielone&nbsp;&nbsp;ściany</h2>
                        </div>
                    </div>
                </div>
                <div class="box_realisation" id="pierwsza" {{ stimulus_target('realization', 'box') }}>
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-lg-8 box_realisation__big_photo">
                                <img src="{{ asset('build/images/') ~ product.secondImage }}" alt="{{ product.name }}"
                                     class="box_realisation__big_photo_img" loading="lazy"
                                     {{ stimulus_target('realization', 'baseImg') }}>
                            </div>
                            <div class="d-flex d-lg-none justify-content-end">
                                <button class="btn btn__prev me-15" {{ stimulus_action('realization', 'next', 'click') }}>&nbsp;</button>
                            </div>
                            <div class="col-lg-3 d-none d-lg-block">
                                <div class="row" {{ stimulus_target('realization', 'imgContainer') }}>
                                    {% for image in product.images|sort((a,b) => a.position <=> b.position) %}
                                        <div class="col-6 px-7i5 mb-15">
                                            <div data-photos="{{ asset('build/images/') ~ image.image }}"
                                                 class="box_realisation__photos d-block">
                                                <img src="{{ asset('build/images/') ~ image.image }}" alt="{{ product.name }}"
                                                     class="img-fluid" loading="lazy"
                                                     {{ stimulus_action('realization', 'changeSlide', 'click') }}
                                                >
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-1 position-relative d-none d-lg-block">
                                <div class="realisations__header pt-lg-5">
                                    <h1 class="realisations__header_name">Zielone&nbsp;&nbsp;ściany</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center d-none d-lg-flex">
                            <div class="col-lg-8 text-end">
                                <button class="btn btn__prev me-15" {{ stimulus_action('realization', 'prev', 'click') }}>Wstecz</button>
                                <button class="btn btn__next ms-15" {{ stimulus_action('realization', 'next', 'click') }}>Dalej</button>
                            </div>
                            <div class="col-lg-3 px-7i5">
                                <hr class="box_realisation__hr">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Realization section END -->

            <!-- Product content section START -->
            <section class="product__content__description">
                <div class="row px-xxl-120 px-lg-60 px-sm-30 px-0 pt-30 pt-lg-0 justify-content-center">
                    <div class="col-lg-7 col-xl-8 row p-0">
                        <div class="col-md-12 p-0">
                            <h1 class="h1 mb-sm-60 mb-50">{{ product.name }}</h1>
                            <p id="product__full__desc">{{ product.longDescription|raw }}</p>
                        </div>
                        <div class="col-md-12 mt-30 p-0">
                            {% for property in product.properties %}
                                <div class="d-flex align-items-center mb-40 mb-lg-20">
                                    <img src="{{ asset('build/images/') ~ property.icon }}" alt="{{ property.name }}"
                                         title="{{ property.name }}" data-bs-toggle="tooltip" loading="lazy"
                                         class="img-fluid pe-20 property__icon">
                                    <p class="mx-auto my-auto property__desc">{{ property.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row col-lg-5 ps-lg-40 col-xl-4 mx-md-auto align-self-start d-lg-block d-none">
                        <div class="col-xl-12 d-lg-flex justify-content-lg-center">
                            <img src="{{ asset('build/images/') ~ product.mainImage }}" alt="{{ product.name }}"
                                 class="img-fluid" loading="lazy">
                        </div>
                        <div class="col-xl-12 mt-10 mb-15 align-self-start">
                            <h4 class="h4 mb-20 text-center">Już od {{ product.price }} zł za 0,5 m2</h4><br>
                            <h5 class="h5">Chcesz zamówić? Masz pytania?</h5>
                            <p >Zostaw swój numer telefonu.<br>Zadzwonimy do Ciebie.<br>Nasz konsultant odpowie na wszystkie pytania.</p>
                        </div>
                        {{ render(controller('App\\Controller\\RenderController::renderBaseProductContactForm')) }}
                    </div>
                </div>
            </section>
            <div class="d-lg-none pt-80 px-30 p-lg-0">
                <div class="row">
                    {% for image in product.images|sort((a,b) => a.position <=> b.position) %}
                        <div class="col-6 px-7i5 mb-15">
                            <div data-photos="{{ asset('build/images/') ~ image.image }}"
                                 class="box_realisation__photos d-block">
                                <img src="{{ asset('build/images/') ~ image.image }}" alt="{{ product.name }}"
                                     class="img-fluid" loading="lazy"
                                     {{ stimulus_action('realization', 'changeSlide', 'click') }}>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Product content section END -->

        <!-- Other products section START -->
        <section class="panels__product">
            <div class="panels__sub" {{ stimulus_controller('product-desc-resize') }}>
                <div class="mx-xl-120 mx-sm-30 mx-15">
                    <div class="row pt-75 pt-sm-0">
                        <div class="col-12 mt-md-50 mb-md-25 d-none d-sm-block">
                            <h4 class="h5">Inne producty</h4>
                        </div>
                        {% for otherProduct in products %}
                            <div class="col-sm-6 col-lg-4 mb-30 mb-md-60" data-aos="fade-up">
                                <div class="d-flex justify-content-center pb-sm-50 pb-lg-40">
                                    <a href="{{ path('show_product', {'id': otherProduct.id, 'slug': otherProduct.slug}) }}">
                                        <img src="{{ asset('build/images/') ~ otherProduct.mainImage }}" alt="{{ otherProduct.name }}"
                                             class="img-fluid" loading="lazy">
                                    </a>
                                </div>
                                <div class="px-40 px-sm-45">
                                    <div {{ stimulus_target('product-desc-resize', 'productDescription') }}>
                                        <h5 class="h2">
                                            <a href="{{ path('show_product', {'id': otherProduct.id, 'slug': otherProduct.slug}) }}"
                                               class="panels__sub_link">{{ otherProduct.name }}</a>
                                        </h5>
                                        <p class="product__desc">
                                            {{ otherProduct.description }}
                                        </p>
                                    </div>
                                    <div class="panels__icons mb-10 mb-sm-20">
                                        {% for property in otherProduct.properties %}
                                            <img src="{{ asset('build/images/') ~ property.icon }}" loading="lazy"
                                                 data-bs-toggle="tooltip" alt="{{ property.name }}"
                                                 title="{{ property.name }}" class="img-fluid property__icon pe-10">
                                        {% endfor %}
                                    </div>
                                    <a href="{{ path('show_product', {'id':otherProduct.id, 'slug':otherProduct.slug}) }}"
                                       class="btn btn__blue">Idź do sklepu</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Other products section END -->

        <!-- Fixed mobile contact form START -->
        <div class="phone_info_fixed">
            <div class="row align-items-center py-20 py-md-30">
                <div class="col-md-6 col-12 align-items-center row mb-15 mb-sm-0">
                    <div class="col-5 text-end">
                        <img src="{{ asset('build/images/') ~ product.mainImage }}" alt="{{ product.name }}"
                             class="img-fluid" width="150" height="150" loading="lazy">
                    </div>
                    <div class="col-7 text-start phone_info_text p-0">
                        <strong>Podaj swój numer - powiem Ci więcej!</strong><br>
                        Już od {{ product.price }} zł/ 0,5 m2
                    </div>
                </div>
                {{ render(controller('App\\Controller\\RenderController::renderProductContactForm')) }}
            </div>
        </div>
        <!-- Fixed mobile contact form END -->
    </div>
{% endblock %}

{% block microdata %}
    {{ render(controller('App\\Controller\\MicrodataController::renderProductMicrodata', {'product': product, 'products': products})) }}
{% endblock %}