{% extends '@SonataAdmin/empty_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(".select").click(function (e) {
                e.preventDefault();
                window.opener.CKEDITOR.tools.callFunction(
                    {{ app.request.get('CKEditorFuncNum')|escape('js') }},
                    $(this).attr("href")
                );
                window.close();
            });
        });
    </script>
{% endblock %}

{% block sonata_wrapper %}
    <div class="h-100">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center margin">
                        {% for image in images %}
                            <a href="{{ asset('article_content_images/'~image) }}"
                               class="select margin">
                                <img src="{{ asset('article_content_images/'~image) | imagine_filter('CKEditor_browse_image') }}"
                                     alt="uploaded image">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}