{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap_file_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap_file_js') }}
{% endblock %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.properties) }}
                    {{ form_widget(form.properties) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.products) }}
                    {{ form_widget(form.products) }}
                </div>
                <div class="form-group" id="realization-main-image">
                    {{ form_label(form.mainImageFile) }}
                    {{ form_widget(form.mainImageFile) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let realizationImg = "{{ object.mainImage }}";

        $(document).ready(function (){
            $('li > div.checkbox > label').each(function (index, value){
                let imgName = $(value).text().trim();

                $(value).append('<img src="{{ asset("uploads/") }}'+imgName+'" alt="'+imgName+'">')
                $(value).find('span').addClass('hidden');
            });
        });
    </script>
{% endblock %}