{{ form_start(form, {'attr': {'data-name': 'base-product'}}) }}
<div class="row">
    <div class="col-md-12 mb-15">
        {{ form_widget(form.phone) }}
    </div>
    <div class="col-md-12">
        {{ form_widget(form.submit, {'attr': {'data-ref': path('send_contact')}}) }}
    </div>
</div>
{{ form_end(form) }}