<div class="row contact_info__question" {{ stimulus_controller('order') }}>
    <div class="col-lg-10 mx-auto row bg-white">
        <div class="col-md d-none d-md-flex">
            <div class="align-self-center">
                <img src="" alt="" class="img-fluid w-100" {{ stimulus_target('order', 'image') }} loading="lazy">
            </div>
        </div>
        <div class="col-md px-60 py-50">
            <p class="h4 mb-40">Zamów wycenę</p>
            <p class="h4 mb-30">Przelicz ile będzie kosztować<br>Twoja zielona ściana.</p>
            {{ form_start(form) }}
                <div class="col-sm-6 mb-30">
                    {{ form_widget(form.width) }}
                </div>
                <div class="col-sm-6 mb-30">
                    {{ form_widget(form.height) }}
                </div>
                <div class="col-sm-12 mb-30">
                    {{ form_widget(form.product) }}
                </div>
                <div class="col-sm-12 mb-30">
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-sm-10 mx-auto">
                    {{ form_widget(form.submit, {'attr': {'data-ref': path('send_order')}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>