{{ form_start(form, {'attr': {'class': 'col-md-6 col-12 row mx-auto', 'data-name': 'product'}}) }}
    <div class="col-6 ps-sm-40 pe-sm-10 pe-0 ps-md-10 pe-md-10 mb-10 mb-sm-0">
        {{ form_widget(form.phone) }}
    </div>
    <div class="col-6 pl-20 ps-sm-10 pe-sm-40 ps-md-10 pe-md-10">
        {{ form_widget(form.submit, {'attr': {'data-ref': path('send_contact')}}) }}
    </div>
{{ form_end(form) }}