{{ form_start(form, {'attr': {'class': 'p-md-20 p-xxl-50 product-contact-form', 'data-name': 'products'}}) }}
    <h5 class="h3 d-none d-lg-block">Zobacz jak zielona ścianabędzie się prezentować w Twoim wnętrzu.</h5>
    <h5 class="h5 d-lg-none">Zobacz jak zielona ścianabędzie się prezentować w Twoim wnętrzu.</h5>
    <p class="form-product-desc">Zostaw swój numer telefonu. Zadzwonimy do Ciebie.Nasz konsultant odpowie na wszystkie
        pytania i przygotujemy dla Ciebie wizualizację.
    </p>
    <div class="mb-25">
        {{ form_widget(form.phone) }}
    </div>
    {{ form_widget(form.submit, {'attr': {'data-ref': path('send_contact')}}) }}
{{ form_end(form) }}