<div class="row contact_info__content" {{ stimulus_controller('question') }}>
    <div class="col-lg-8 mx-auto">
        <h2 class="h1 contact_info__header">Masz pytania? Dowiedz się więcej.</h2>
        {{ form_start(form) }}
            <div class="mb-30">
                {{ form_widget(form.sender) }}
            </div>
            <div class="mb-30">
                {{ form_widget(form.phone) }}
            </div>
            <div class="mb-30">
                {{ form_widget(form.content) }}
            </div>
            <div class="custom_check mb-30" {{ stimulus_action('question', 'accept') }}>
                <label>
                    {{ form_widget(form.isAgree) }}
                    <span>Wyrażam zgodę na przetwarzanie danych osobowych wskazanych przeze mnie w formularzu przez
                        firmę Imago! Polska Sp. zo.o Sp. K w celu obsługi zapytania kontaktowego. Przyjmuję do
                        wiadomości, że zgoda może być w każdym momencie cofnięta. Zgoda jest dobrowolna, ale niezbędna
                        do realizacji powyższego celu.
                    </span>
                </label>
            </div>
            {{ form_widget(form.submit, {'attr': {'data-ref': path('send_qustion')}}) }}
            <p class="contact_info__privacy">
                Administratorem danych osobowych jest firma Imago! Polska Sp. zo.o Sp. K, z siedzibą: Rybnik 44-200, ul.
                Szczygłów 50, NIP: 6511718256;. Dane wpisane w formularzu kontaktowym będą przetwarzane w celu
                udzielenia odpowiedzi na przesłane do nas zapytanie zgodnie z
                <a href="#" target="_blank" class="contact_info__privacy_link">Polityką prywatności</a>.
            </p>
        {{ form_end(form) }}
    </div>
</div>