ul.breadcrumb {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li+li:before {
    margin-left: 5px;
    margin-right: 10px;
    color: gray;
    content: ">";
}

ul.breadcrumb li a {
    color: gray;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
}