.native-pagination {
    display: inline-block;
}
.native-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.native-pagination a.active-page {
    background-color: #000;
    color: white;
}
.native-pagination a:hover:not(.active-page) {
    background-color: #ddd;
}