{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap_file_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap_file_js') }}
{% endblock %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.position) }}
                    {{ form_widget(form.position) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group" id="gallery-image">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let galleryImg = "{{ object.image }}";
    </script>
{% endblock %}