{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.image != null %}
        <a href="{{ asset('uploads/') }}{{ object.image }}" data-lightbox="example-set">
            <img src="{{ asset('uploads/') }}{{ object.image }}" alt="green-image" class="img-lg">
        </a>
    {% endif %}
{% endblock field %}