<!DOCTYPE HTML>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="fb:app_id" content="{{ fb_id }}">
        <meta property="og:site_name" content="{{ domain }}">
        <meta property="og:type" content="website">
        <link rel="icon" type="image/svg+xml" href="{{ asset('img/favicon.svg') }}">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        <meta property="twitter:domain" content="{{ domain }}">

        {% block meta %}
            <meta property="og:title" content="Plantia - Ogrody Wertykalne, Zielone ściany">
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/bg_hero.jpg') }}">
            <meta property="og:description" content="Plantia - producent ogrodów wertykalnych, zielonych ścian oraz dekoracji, które na zawsze ożywią wnętrze Twojego domu i firmy!">
            <meta name="description" content="Plantia - producent ogrodów wertykalnych, zielonych ścian oraz dekoracji, które na zawsze ożywią wnętrze Twojego domu i firmy!">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="Plantia - Ogrody Wertykalne, Zielone ściany">
            <meta name="twitter:description" content="Plantia - producent ogrodów wertykalnych, zielonych ścian oraz dekoracji, które na zawsze ożywią wnętrze Twojego domu i firmy!">
            <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/bg_hero.jpg') }}">
        {% endblock %}

        {% block metaLinks %}
            <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route')) }}">
            <meta property="twitter:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route')) }}">
            <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route')) }}">
            <link rel="dns-prefetch" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route')) }}">
        {% endblock %}

        <title>{% block title %}Plantia - Ogrody Wertykalne, Zielone ściany{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('stimulus_controller') }}
        {% endblock %}
        {% block microdata %}
            {{ render(controller('App\\Controller\\MicrodataController::renderBaseMicrodata')) }}
        {% endblock %}
        <script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MTMNP22');
        </script>
    </head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CJ685L0SPH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CJ685L0SPH');
    </script>

    <body>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="contact_info" id="kontakt">
                <div class="contact_info__parallax jarallax">
                    <img class="hero-image-bg" src="{{ asset('build/images/bg_hero.jpg') }}"
                         data-src="{{ asset('build/images/bg_hero.jpg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                         loading="lazy"
                    >
                </div>
                <div class="container-xl position-relative">
                    {% block contact_form %}
                        {{ render(controller('App\\Controller\\RenderController::renderQuestionForm')) }}
                    {% endblock %}
                    <div class="row mt-120">
                        <div class="col-12 d-none d-sm-flex justify-content-center">
                            <div class="d-inline-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/images/logo.svg') }}" data-src="{{ asset('build/images/logo.svg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                                     class="contact_info__logo me-15 me-sm-45" loading="lazy">
                                <hr class="contact_info__hr">
                                <div class="contact_info__company_info ms-15 ms-sm-45">
                                    {#tel. <a href="tel:+48700500600" rel="nofollow" title="Zadzwoń do nas" class="contact_info__company_link">+48 700 500&nbsp;600</a><br> #}
                                        email: <a href="mailto:kontakt@plantia.pl" title="Napisz do nas" class="contact_info__company_link">kontakt@plantia.pl</a>
                                    {#<p class="contact_info__company">Imago! Polska Sp. zo.o Sp. K<br>
                                        ul. Szczygłów 50<br>
                                        Rybnik 44-200<br>
                                        NIP: 6511718256
                                    </p> #}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 row justify-content-center mx-auto d-sm-none">
                            <div class="col-12 d-inline-flex justify-content-center">
                                <img src="{{ asset('build/images/logo.svg') }}" data-src="{{ asset('build/images/logo.svg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                                     class="contact_info__logo me-15 me-sm-45" loading="lazy">
                            </div>
                            <div class="col-12 contact_info__company_info ms-15 ms-sm-45 d-flex justify-content-center mt-15">
                                {#tel. <a href="tel:+48700500600" rel="nofollow" title="Zadzwoń do nas" class="contact_info__company_link">+48 700 500&nbsp;600</a><br> #}
                                email: <a href="mailto:kontakt@plantia.pl" title="Napisz do nas" class="contact_info__company_link">kontakt@plantia.pl</a>
                                {#<p class="contact_info__company">Imago! Polska Sp. zo.o Sp. K<br>
                                        ul. Szczygłów 50<br>
                                        Rybnik 44-200<br>
                                        NIP: 6511718256
                                    </p> #}
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTMNP22"
                          height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
    </body>
</html>