{% if pageCount > 1 %}
    <div class="text-center">
        <div class="native-pagination">
            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;</a>
            {% endif %}

            {% if startPage > 1 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                {% if startPage == 3 %}
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                {% elseif startPage != 2 %}
                    <a>&hellip;</a>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <a class="active-page">{{ page }}</a>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <a>&hellip;</a>
                    {% else %}
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    {% endif %}
                {% endif %}
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            {% endif %}

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
{% endif %}