{% if microdata is iterable %}
    {% for item in microdata %}
        {% if item is iterable %}
            {% for itemMicrodata in item %}
                <script type="application/ld+json">{{ itemMicrodata|raw }}</script>
            {% endfor %}
        {% else %}
            <script type="application/ld+json">{{ item|raw }}</script>
        {% endif %}
    {% endfor %}
{% else %}
    <script type="application/ld+json">{{ microdata|raw }}</script>
{% endif %}