<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('home_page') }}">strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('products_index') }}">produkty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('article_list') }}">artykuły</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#kontakt">kontakt</a>
            </li>
        </ul>
    </div>
</div>