{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap_file_css') }}
    {{ encore_entry_link_tags('lightBox2_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap_file_js') }}
    {{ encore_entry_script_tags('lightBox2_js') }}
{% endblock %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.longDescription) }}
                    {{ form_widget(form.longDescription) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.currency) }}
                    {{ form_widget(form.currency) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.priority) }}
                    {{ form_widget(form.priority) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.properties) }}
                    {{ form_widget(form.properties) }}
                </div>
                <div class="form-group" id="product-main-img">
                    {{ form_label(form.mainFileImage) }}
                    {{ form_widget(form.mainFileImage) }}
                </div>
                <div class="form-group" id="product-obj-img">
                    {{ form_label(form.secondFileImage) }}
                    {{ form_widget(form.secondFileImage) }}
                </div>
                <div class="form-group" id="realization-images">
                    {{ form_label(form.images) }}
                    {{ form_widget(form.images) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let productImg = "{{ object.mainImage }}";
        let productObj = "{{ object.secondImage }}";

        $(document).ready(function (){
            $('li > div.checkbox > label').each(function (index, value){
                let imgName = $(value).text().trim();

                $(value).append('<img src="{{ asset("uploads/") }}'+imgName+'" alt="'+imgName+'">')
                $(value).find('span').addClass('hidden');
            });

            let images = $('#realization-images');
            changeFileInput(images);

            images.on('click', '#realization-carrousel-add', function (){
                $(this).parents('td').find('input[type="file"]').click();
            });

            images.on('change', 'input[type="file"]', function (e){
                let files = e.target.files;
                let file = files[0];

                let browseBtn = $(this).parent('td').find('#realization-carrousel-add');
                let namePlace = $(this).parent('td').find('.file-caption');

                if(typeof file !== 'undefined'){
                    if(!file.type.match('image.*')){
                        return;
                    }

                    let reader = new FileReader();
                    reader.onload = (function(){
                        return function (e) {
                            let existPreview = browseBtn.siblings('#uploaded-file-preview');
                            let existFileName = namePlace.find('#uploaded-file-name');

                            if(existPreview.length !== 0){
                                existPreview.remove();
                            }
                            if(existFileName.length !== 0){
                                existFileName.remove();
                            }

                            browseBtn
                                .before('<a href="'+e.target.result+'" class="btn btn-success" data-lightbox="example-set" id="uploaded-file-preview">' +
                                    '<i class="fa fa-eye" aria-hidden="true"></i>' +
                                    '<span style="margin-left: 10px">Preview</span>' +
                                    '<img src="'+e.target.result+'" alt="img" class="hidden">' +
                                    '</a>');
                            namePlace
                                .append('<div class="file-caption-name" id="uploaded-file-name">' +
                                    '<i class="glyphicon glyphicon-file kv-caption-icon"></i>'+
                                    '<span>'+file.name+'</span>' +
                                    '</div>')
                        };
                    })(file);
                    reader.readAsDataURL(file);
                }
            });

            images.on('sonata.add_element', function(){
                changeFileInput($(this));
            });

            function changeFileInput(element){
                element.parents('body').find('#realization-images table thead tr th:nth-child(3)').attr('class', 'hidden');
                element.parents('body').find('#realization-images table tbody tr td:nth-child(3)').attr('class', 'hidden');

                element.parents('body').find('#realization-images table tbody tr').each(function(key, value){
                    let fileName = $(value).find('td:nth-child(3) input').val();

                    let existFileName = '';
                    let existFile = '';

                    if(fileName.length > 0){
                        existFileName = '<div class="file-caption-name" id="uploaded-file-name">' +
                            '<i class="glyphicon glyphicon-file kv-caption-icon"></i>'+
                            '<span>'+fileName+'</span>' +
                            '</div>';
                        existFile = '<a href="/uploads/'+fileName+'" class="btn btn-success" data-lightbox="example-set" id="uploaded-file-preview">' +
                            '<i class="fa fa-eye" aria-hidden="true"></i>' +
                            '<span style="margin-left: 10px">Preview</span>' +
                            '<img src="/uploads/'+fileName+'" alt="img" class="hidden">' +
                            '</a>';
                    } else {
                        if($(value).find('td:nth-child(4) input').val().length > 0){
                            fileName = $(value).find('td:nth-child(4) input').val().replace('C:\\fakepath\\','');

                            existFileName = '<div class="file-caption-name" id="uploaded-file-name">' +
                                '<i class="glyphicon glyphicon-file kv-caption-icon"></i>'+
                                '<span>'+fileName+'</span>' +
                                '</div>';
                            existFile = '<a href="'+fileName+'" class="btn btn-success" data-lightbox="example-set" id="uploaded-file-preview">' +
                                '<i class="fa fa-eye" aria-hidden="true"></i>' +
                                '<span style="margin-left: 10px">Preview</span>' +
                                '<img src="'+fileName+'" alt="img" class="hidden">' +
                                '</a>';
                        }
                    }

                    $(value)
                        .find('td:nth-child(4) input')
                        .attr('class', 'hidden')
                        .parent('td')
                        .append('<div class="input-group">' +
                            '<div class="form-control file-caption kv-fileinput-caption">'+existFileName+'</div>' +
                            '<div class="input-group-btn">' +
                            existFile +
                            '<div class="btn btn-primary" id="realization-carrousel-add">' +
                            '<i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>' +
                            '<span style="margin-left: 10px">Browse ...</span>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                });
            }
        });
    </script>
{% endblock %}