{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.mainImage != null %}
        <a href="{{ asset('uploads/') }}{{ object.mainImage }}" data-lightbox="example-set">
            <img src="{{ asset('uploads/') }}{{ object.mainImage }}" alt="greenImage" class="img-sm">
        </a>
    {% endif %}
{% endblock field %}