{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.images != null %}
        <div class="row">
            {% for image in object.images %}
                <div class="col-md-4">
                    <a href="{{ asset('uploads/') }}{{ image.image }}" data-lightbox="example-set">
                        <img src="{{ asset('uploads/') }}{{ image.image }}" alt="greenImage" class="img-md">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock field %}