{% if object.id %}
    <a href="{{ path('admin_app_product_clone', {'id' : object.id}) }}" class="btn btn-sm btn-default edit_link" title="Clone">
        <i class="fa fa-clone" aria-hidden="true"></i>
        Clone
    </a>
{% endif %}