{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lightBox2_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('lightBox2_js') }}
{% endblock %}