{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bootstrap_file_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap_file_js') }}
{% endblock %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group ckeditor">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <div class="form-group" id="small-img-file">
                    {{ form_label(form.smallImgFile) }}
                    {{ form_widget(form.smallImgFile) }}
                </div>
                <div class="form-group" id="small-og-img-file">
                    {{ form_label(form.ogSmallImgFile) }}
                    {{ form_widget(form.ogSmallImgFile) }}
                </div>
                <div class="form-group" id="large-img-file">
                    {{ form_label(form.largeImgFile) }}
                    {{ form_widget(form.largeImgFile) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let articleImgSmall = "{{ object.smallImage }}";
        let articleImgLarge = "{{ object.largeImage }}";
        let articleImgOgSmall = "{{ object.ogSmallImage }}";
    </script>
{% endblock %}