{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.smallImage != null %}
        <a href="{{ asset('uploads/') }}{{ object.smallImage }}" data-lightbox="example-set">
            <img src="{{ asset('uploads/') }}{{ object.smallImage }}" alt="greenImage" class="img-lg">
        </a>
    {% endif %}
{% endblock field %}