<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/svg+xml" href="{{ asset('img/favicon.svg') }}">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        <meta name="description" content="Unfortunately, the website address you provided does not exist.">
        <title>Plantia 404</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('base_styles') }}
        {% endblock %}
    </head>
    <body>
        <div class="h-100">
            <div class="logo-left">
                <a href="{{ path('home_article_page') }}">
                    <img src="{{ asset('img/logo_white.svg') }}" data-src="{{ asset('img/logo_white.svg') }}"
                        alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy" style="width: 12vh"
                    >
                </a>
            </div>
            <div class="hero__parallax jarallax">
                <img class="hero-image-bg" data-src="{{ asset('img/bg_hero.jpg') }}"
                    src="{{ asset('img/bg_hero1.jpg') }}" alt="Plantia - Wieczna zieleń bezpielęgnacji"
                    loading="lazy"
                >
            </div>
        </div>
        <div class="error-404-box">
            <h1 class="error-404-title">404</h1>
            <p class="error-404-subtitle">Page is unavailable</p>
            <p class="error-404-content">Unfortunately, the website address you provided does not exist.</p>
        </div>
    </body>
</html>