{% extends 'base.html.twig' %}

{% block meta %}
    {% if app.request.get('page') > 1 %}
        <meta property="og:title" content="Plantia - Artykuły - Strona {{ app.request.get('page') }}">
        <meta name="twitter:title" content="Plantia - Artykuły - Strona {{ app.request.get('page') }}">
    {% else %}
        <meta property="og:title" content="Plantia - Artykuły">
        <meta name="twitter:title" content="Plantia - Artykuły">
    {% endif %}

    <meta name="description" content="Plantia - lista artykułów na temat zielonych kompozycji.">
    <meta property="og:description" content="Plantia - lista artykułów na temat zielonych kompozycji.">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/logo_black.svg') }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Plantia - lista artykułów na temat zielonych kompozycji.">
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/logo_black.svg') }}">
{% endblock %}

{% block title %}{% if app.request.get('page') > 1 %}Plantia - Artykuły - Strona {{ app.request.get('page') }}{% else %}Plantia - Artykuły{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pagination') }}
{% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand pt-30 ps-15" href="{{ path('home_page') }}">
                    <img src="{{ asset('build/images/logo_black.svg') }}"
                         data-src="{{ asset('build/images/logo_black.svg') }}"
                         alt="Plantia - Wieczna zieleń bezpielęgnacji" loading="lazy" >
                </a>
                <div class="menu btn_toggle  btn_toggle--black navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <div class="icon"></div>
                </div>
                {% include 'navList.html.twig' %}
            </div>
        </nav>
        <section class="list_article">
            <div class="container-xl">
                <div class="row justify-content-between">
                    {% for article in pagination %}
                        <div class="col-md-5 mb-45" data-aos="fade-up">
                            <a href="{{ path('article_show', {'id': article.id, 'slug' : article.slug}) }}" class="box_article">
                                <img src="{{ asset('build/images/') ~ article.ogSmallImage }}"
                                     data-src="{{ asset('build/images/') ~ article.ogSmallImage }}"
                                     alt="{{ article.title }}" class="img-fluid" loading="lazy" >
                                <h2 class="h1 mt-30 box_article__header">{{ article.title }}</h2>
                                <p class="box_article__content">
                                    {% autoescape false %}
                                        {% if article.content|striptags|length > 120  %}
                                            {{ article.content|striptags|slice(0,117) }}...
                                        {% else %}
                                            {{ article.content|striptags }}
                                        {% endif %}
                                    {% endautoescape %}
                                <p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-45" data-aos="fade-up">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block microdata %}
    {{ render(controller('App\\Controller\\MicrodataController::renderArticlesMicrodata', {'articles': pagination.items})) }}
{% endblock %}