{% extends 'base.html.twig' %}

{% block meta %}
    {% set image = article.ogSmallImage %}

    {% if image == null %}
        {% set image = article.smallImage %}
    {% endif %}

    <meta name="description" content="{{ article.content|striptags|slice_word(116) }}">
    <meta property="og:title" content="{{ article.title|striptags|slice_word(36) }}">
    <meta property="og:description" content="{{ article.content|striptags|slice_word(105) }}">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/') }}{{ image }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.title|striptags|slice_word(36) }}">
    <meta name="twitter:description" content="{{ article.content|striptags|slice_word(105) }}">
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('build/images/') }}{{ image }}">
{% endblock %}

{% block title %}{{ article.title }} - Plantia - Ogrody Wertykalne, Zielone ściany{% endblock %}

{% block metaLinks %}
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), {'id': article.id, 'slug': article.slug}) }}">
    <meta property="twitter:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), {'id': article.id, 'slug': article.slug}) }}">
    <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), {'id': article.id, 'slug': article.slug}) }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('breadcrumb_css') }}
{% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand pt-30 ps-15" href="{{ path('home_page') }}">
                    <img src="{{ asset('build/images/logo_black.svg') }}"
                         data-src="{{ asset('build/images/logo_black.svg') }}"
                         alt="Plantia - Wieczna zieleń bezpielęgnacji"
                    >
                </a>
                <div class="menu btn_toggle  btn_toggle--black  navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <div class="icon"></div>
                </div>
                {% include 'navList.html.twig' %}
            </div>
        </nav>
        <section class="article">
            <div class="container-fluid article__fix">
                <div class="row h-100">
                    <div class="col-md-11 position-relative">
                        <div class="article__parallax jarallax">
                            <img class="jarallax-img" src="{{ asset('build/images/'~article.largeImage) }}"
                                 data-src="{{ asset('build/images/'~article.largeImage) }}" alt="{{ article.title }}"
                            >
                        </div>
                    </div>
                    <div class="col-md-1 position-relative">
                        <div class="article__header">
                            <p class="article__header_name">artykuł</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xl">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <ul class="breadcrumb">
                            <li><a href="{{ path('home_page') }}">Strona główna</a></li>
                            <li><a href="{{ path('article_list') }}">Artykuły</a></li>
                            <li>{{ article.title }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-10 mx-auto" id="article-content">
                        <h1>{{ article.title }}</h1>
                        <p>
                            {% autoescape false %}
                                {{ article.content }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="list_article">
            <div class="container-xl">
                <div class="row justify-content-between">
                    {% for randomArticle in randomArticles %}
                        <div class="col-md-5 mb-45">
                            <a href="{{ path('article_show', {'id': randomArticle.id, 'slug' : randomArticle.slug}) }}"
                               class="box_article">
                                <img src="{{ asset('build/images/') ~ randomArticle.smallImage }}"
                                     data-src="{{ asset('build/images/') ~ randomArticle.smallImage }}"
                                     alt="{{ randomArticle.title }}"
                                     class="img-fluid" loading="lazy" >
                                <h2 class="h1 mt-30 box_article__header">{{ randomArticle.title }}</h2>
                                <p class="box_article__content">
                                    {% autoescape false %}
                                        {% if randomArticle.content|striptags|length > 250  %}
                                            {{ randomArticle.content|striptags|slice(0,247) }}...
                                        {% else %}
                                            {{ randomArticle.content|striptags }}
                                        {% endif %}
                                    {% endautoescape %}
                                <p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block microdata %}
    {{ render(controller('App\\Controller\\MicrodataController::renderArticleMicrodata',
        {'article': article, 'articles': randomArticles}
    )) }}
{% endblock %}